body {
    background-color: rgba(0, 0, 0, .2);
}

h2.resume {
    background-color: white;
    border-bottom: 2px solid black;
}

article.resume {
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    padding: 1px;
}