<section class="py-5">
    <div class="container my-5">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>Aspiring Coder!</h2>
                <p class="lead">My name is Ryland Upson, and I am a Full Stack Web Developer. I have worked jobs in the service industry, and this taught me how to work in a fast-paced environment, meet requirements, and It taught me how to work with POS systems. My main interest and passion however has always been in technology. I have been using and learning about computers ever since my childhood, having a Dad that also works in IT, he showed me some of the basic inner workings of computers, and it was always fascinated me since. I also took some classes about basic website development, and video game development while I was in high school, those classes being the ones I was always most interested in and had the most fun with. So after working in the service industry for several years, and feeling that what I was doing was not challenging me enough, I decided to go to Centriq and learn more about what I had always had a passion for. I now am excited to work in this industry, and believe that I can be a strong contributor. Please contact me on my LinkedIn account.</p>
            </div>
        </div>
    </div>
</section>
