<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="row text-center">
                <h2>Classmates</h2>
                <p class="lead">A list of fellow Centriq Graduates:<p>
                    <article class="col-md-4">
                        <img src="~/Content/images/ryan.jpg" width="150px" />
                        <div>
                            <a href="http://www.ryanjpalmer.net" target="_blank">Ryan Palmer</a>
                        </div>
                    </article>
                    <article class="col-md-4">
                        <img src="~/Content/images/danielle.jpg" width="150px" />
                        <div>
                            <a href="http://www.daniellethedev.com/" target="_blank">Danielle Smalley</a>
                        </div>
                    </article>
                    <article class="col-md-4">
                        <img src="~/Content/images/Jake.jpg" width="150px" />
                        <div>
                            <a href="http://www.jacobwoodworth.com/" target="blank">Jacob Woodworth</a>
                        </div>
                    </article>
                    <article class="col-md-4">
                        <img src="~/Content/images/david.png" width="150px" />
                        <div>
                            <a href="http://schejbalcodes.com/" target="_blank">David Schejbal</a>
                        </div>
                    </article>
            </div>
        </div>
    </div>
</section>
