<section class="py-5">
    <main class="container">
        <form action="#" method="get" onsubmit="validateForm(event)">
            <div class="col-lg-6 offset-lg-3">
                <div class="row text-center">
                    <h2>Contact Me</h2>
                    <p>(Not Currently Functional)</p>
                </div>
                <div class="row justify-content-center">
                    <div class="form-group">
                        <input type="text" id="tbName" name="name" class="form-control" placeholder="Name" />
                        <span id="rfvName" class="invalid"></span>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="form-group">
                        <input type="text" id="tbEmail" name="email" class="form-control" placeholder="Email" />
                        <span id="rfvEmail" class="invalid"></span>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="form-group">
                        <input type="text" id="tbSubject" name="subject" class="form-control" placeholder="Subject" />
                        <span id="rfvSubject" class="invalid"></span>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="form-group">
                        <textarea id="tbMessage" name="message" class="form-control" placeholder="Message"></textarea>
                        <span id="rfvMessage" class="invalid"></span>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="form-group">
                        <input type="submit" class="btn btn-success" value="Send Message" />
                    </div>
                </div>
            </div>
        </form>
    </main>
</section>
