<section class="py-5">
    <div class="container my-5">
        <div class="row text-center">
            <h2>Projects</h2>
            <p>
                Portfolio projects that I have created using the various skills that I have learned throughout my coding career.
            </p>
            <article class="col-md-4">
                <h3>
                    Frontend Development Studio Project
                </h3>
                <p>
                    <a href="http://fed1studioproject.rylandupson.com/" target="_blank"><img src="~/Content/images/FED1Project.png" height="200" /></a>
                </p>
                <p>
                    An example of a static website, based around a fictional music school. This site shows off my understanding of basic HTML and CSS.
                </p>
            </article>
            <article class="col-md-4">
                <h3>
                    Dungeon Application
                </h3>
                <p>
                    <a href="https://github.com/rylandupson/DungeonApp.git" target="_blank"><img src="~/Content/images/DungeonApp.png" height="200" /></a>
                </p>
                <p>
                    A program designed to play as a basic RPG. This program shows my work in C#.
                </p>
            </article>
            <article class="col-md-4">
                <h3>
                    StoreFront Application
                </h3>
                <p>
                    <a href="http://storefront.rylandupson.com/" target="_blank"><img src="~/Content/images/storefronttables.png" height="200" /></a>
                </p>
                <p>
                    This is a showcase of various skills, as a dynamic website that incorporates HTML, CSS, JavaScript, C#, and Data incorporation using MVC.
                </p>
            </article>
        </div>
    </div>
</section>
