<section class="py-5">
    <div class="container my-5">
        <div class="row text-center">
            <h2><a href="~/Content/resume.docx">RESUME</a></h2>
            <p>
                I am a Full Stack Web Developer that specializes in Frontend, Mid-tier, and Backend development.
            </p>
            <article class="row text-center justify-content-center resume">
                <h2 class="resume">
                    Skills
                </h2>
                <div class="col-md-4">
                    <h3>
                        Front End
                    </h3>
                    <h5>
                        HTML5,
                        JavaScript,
                        jQuery,
                        jQueryUI,
                        CSS3,
                        Responsive/Mobile Web Development,
                        Bootstrap,
                        ReactJS
                    </h5>
                </div>
                <div class="col-md-4">
                    <h3>
                        Middle Tier
                    </h3>
                    <h5>
                        Visual Studio,
                        C#.NET,
                        ASP.NET,
                        LINQ,
                        MVC,
                        EF
                    </h5>
                </div>
                <div class="col-md-4">
                    <h3>
                        Back End
                    </h3>
                    <h5>
                        ADO.NET,
                        SQL,
                        SQL Server,
                        SSMSE
                    </h5>
                </div>
            </article>
            <article class="row text-center justify-content-center resume">
                <h2 class="resume">
                    Education
                </h2>
                <div class="col-md-4">
                    <h3>
                        Centriq
                    </h3>
                    <h5>
                        May 2021 - August 2021
                    </h5>
                    <h5>
                        MVC Framework,
                        Trouble Shooting & Debugging,
                        Source Control,
                        Agile/Scrum (Created Team Project),
                        Website Development,
                        Pair Programming,
                        Code Review
                    </h5>
                </div>
            </article>
            <article class="row text-center justify-content-center resume">
                <h2 class="resume">
                    Experience
                </h2>
                <div class="col-md-4">
                    <h3>
                        Jimmy John's
                    </h3>
                    <h5>
                        August 2016 - August 2018
                    </h5>
                    <h5>
                        At Jimmy John's, I worked as a sandwich maker, order taker, cleaner, and delivery driver. This helped me learn how to work in a fast-pace environment, get tasks done quickly, and handle the needs of customers.
                    </h5>
                </div>
                <div class="col-md-4">
                    <h3>
                        Amazon
                    </h3>
                    <h5>
                        August 2018 - November 2018
                    </h5>
                    <h5>
                        At Amazon, I worked in warehouse, boxing items for customers. This helped me work under stressful circumstances and meet quotas.
                    </h5>
                </div>
                <div class="col-md-4">
                    <h3>
                        Hy-Vee
                    </h3>
                    <h5>
                        February 2019 - August 2019
                    </h5>
                    <h5>
                        At Hy-Vee, I worked in the deli department, where I sliced, bagged, and stocked meat, as well as helped customers, and cleaned.
                    </h5>
                </div>
                <div class="col-md-4">
                    <h3>
                        Sarpino's Pizzeria
                    </h3>
                    <h5>
                        August 2019 - May 2021
                    </h5>
                    <h5>
                        At Sarpino's, I worked as a delivery driver, and also helped prepare] food, helped customers, and cleaned around the store.
                    </h5>
                </div>
            </article>
        </div>
    </div>
</section>
